# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Logs
npm-debug.log*

# macOS
.DS_Store

# Build folders
client/dist/
server/dist/